<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Count your calories</title>
        <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="app" class="container">
    <h1> Count your calories! </h1>
    <label for="food">What do you eat today?</label>
    <select v-model="selected" v-on:change="addFood">
    <optgroup label="Carbohydrate">
        <option v-for="carbo in carbos" v-bind:value="carbo">{{carbo.Food}}</option>
    </optgroup>
    <optgroup label="Protein">
        <option v-for="protein in proteins" v-bind:value="protein">{{protein.Food}}</option>
    </optgroup>
    <optgroup label="Fiber">
        <option v-for="fiber in fibers" v-bind:value="fiber">{{fiber.Food}}</option>
     </optgroup>
    </select>
<div class="con">
  <h2>Your consumption:</h2>
   <ul>
       <li v-for="food in foodConsumption">{{food}}</li>
    </ul>


 <h3>Total Calories: {{totalRequest}}</h3> 
</div>
</div>

    
   <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
   <script> 
 
    var app = new Vue({
    el: "#app",
    data:{  
    selected:"",
    carbos:[{Food:"Bread", Calories:265},
            {Food:"Cereal", Calories:379},
            {Food:"Noodles", Calories:379},
            {Food:"Pasta", Calories:379},
            {Food:"Rice", Calories:379},
            ],
    proteins:[{Food:"Red Meat", Calories:176},
             {Food:"White Meat", Calories:160},
             {Food:"Fish", Calories:206},
             {Food:"Egg", Calories:155},
            ],
    fibers:[{Food:"Vege", Calories:50},
            {Food:"Fruits", Calories:60},
            ],
    foodConsumption:[],
    ListOfCal:[]
    },
 
    methods:{
        addFood:function(e){
           // var haha=this.selected;
          this.foodConsumption.push(this.selected); 
          this.ListOfCal.push(this.selected.Calories);
          
        }},
        computed: {
    totalRequest() {
      return this.ListOfCal.reduce((acc, item) => acc + item, 0);
    }
}

    


});
</script>

</body>
</html>
 

<!-- var allFood=[];
var consumption=document.getElementById("consumption")
var list=document.querySelector("list")

function addFood(food){
    allFood.push(food);
    console.log(allFood)
    let liItem=document.createElement("li")
    liItem.innerHTML=`${food}`
    list.appendChild(liItem);
}
consumption.addEventListener('change',addFood) -->

 

